{% extends 'base.html.twig' %}

{% block title %}Wild Series - All categories{% endblock %}

{% block body %}
 <h1>Toutes les catégories : </h1>
    {% for categorie in categories %}
        <div>
            <h2><a href="{{ path("category_show", { name: categorie.name }) }}">{{ categorie.name }}</a></h2><br>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">Retour à l'accueil</a>
{% endblock %}

