{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<div class="album py-5 bg-light">

		<h1 style="padding:3%">Nos dernières séries</h1>
		<div class="container">
			<div class="row">
				{% for program in programs %}
					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
							<div class="card-body">
								<h5>{{ program.title }}</h5>
								<p class="card-text">{{ program.summary }}</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary" href="#">View</button>
									</div>
									<small class="text-muted">Publié le : {{ program.createdAt|date("m/d/Y") }}</small>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
